<% include header %>
    <h3>删除客户信息</h3>
    <form method="post">
        <!-- <ul>
            <% for(var i = 0; i < result.length; i++) { %>
            <li>
                <label for="student">姓名：<%= result[i].name %>，学号：<%= result[i].studentId %></label>
                <input type="radio" name="student" value=<%= result[i]._id%>>
            </li>
            <% } %>
        </ul> -->


        <div class="table-responsive">
                <table class="table table-hover table-bordered table-striped">
                    <thead>
                        <th>姓名</th>
                        <th>邮箱</th>
                        <th>电话</th>
                        <th>标题</th>
                        <th>信息</th>
                        <th>删除</th>
                    </thead>
                    <tbody>
                            <% for(var i = 0; i < result.length; i++) { %>
                        <tr>
                            <td><%= result[i].name %></td>
                            <td><%= result[i].email %></td>
                            <td><%= result[i].phone %></td>
                            <td><%= result[i].title %></td>
                            <td><%= result[i].msg %></td>
                            <td><input type="radio" name="student" value=<%= result[i]._id%>></td>
                        </tr>
                        <% } %>  
                    </tbody>
                </table>
              </div>


        <button type="submit" class="btn btn-danger">确定</button>
    </form>
<% include footer %>